<div class="row">
  <div class="main-image">
    <%= image_tag "main.jpg" %>
  </div>
</div>

<div class="row">
  <div class="small-12 show-for-small"><br>
    <img src="http://placehold.it/1000x600&text=For Small Screens"/>
  </div>
</div>
 
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <% @spots.each do |spot| %>
        <div class="large-3 small-6 columns">
          <%= link_to Island.find(1) do %>
            <% image_tag "spot_#{spot.id}.jpg" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row"><br></div>
  <div class="row"><br></div>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-8 columns">
          <div class="panel radius">
 
          <div class="row">
          <div class="large-6 small-6 columns">
 
            <h4>私のせまい島。</h4>
            <hr/>
            <h5 class="subheader">

<p>漁師は人生の大半を海で過ごす。</p>
<p>来る日も来る日も空を見て、島を感じ、海で仕事をする。
日々の中に季節を感じ、最高の一瞬を目撃する。</p>
<br>
<p>その一瞬を共に感じ
私だけの島を収める体験。</p>
            </h5>
 
          <div class="show-for-small" align="center">
            <a href="#" class="small radius button">Call To Action!</a><br>
 
            <a href="#" class="small radius button">Call To Action!</a>
          </div>
 
          </div>
          <div class="large-6 small-6 columns">
 
            <p><br><br><br>
              KOMAILANDSは瀬戸内に浮かぶ3000もの島々に住む人と私だけの一瞬を求める人を結ぶプラットホームです。瀬戸内で生まれ育つ人々が感じる島の表情は何でしょう。瀬戸内海で日々生まれる美しい一瞬をあなたのカメラで撮影してみませんか。そこには、島の数だけ、そして、あなただけの瞬間をとらえる時間があるでしょう。
          </p>
        </div>
 
        </div>
        </div>
        </div>
 
          <div class="large-4 columns hide-for-small">
 
          <h4>とっておきのスポットを<br>みつけよう！</h4><hr/>
 
          <a class="large button expand" href="#">
            サインアップ<br>（未登録の方）
          </a>
 
          <a class="large button expand" href="#">
            サインイン<br>（すでに登録済みの方）
          </a>
 
 
        </div>
 
      </div>     
     </div>
  </div>
</div>
</div>
